body {
  font-family: "Trebuchet MS";
    background-color: #3c4965;
    min-height: 100vh;
    font-size: 1rem;
    color: #EDEADE	;
    
}

.main{
  margin-left: 20rem;
  margin-right: 25rem;
}


img {
  width: 300px;
  border-radius: 2%;
}




.footerContainer{

  height: 10rem;
  background-color: #e1707a;
}

.HeaderContainer{
 
  height: 8rem;
  background-color: #e1707a;
  margin-bottom: 5rem;
}



.HeaderContainer ul li{
 
  display: inline;
  padding-right: 6rem;
  padding-left: 5rem;
  margin-left: 7rem;
  

  
} 

.HeaderContainer a{
 
 text-decoration: none;
  
} 


#logo{
  margin-left: 44rem;
  padding-bottom: -5rem;
}


.column {
  float: left;
  width: 20rem;
  padding: 0 10px;
}

.row {

  margin-bottom: 10rem;
  margin-top: 5rem;
  margin-left: 15rem;
}

.quickNavContainer{
  background-color: #e1707a;
  width: 15rem;
  height: 2rem;


}


a{
  text-decoration: non;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

a:visited { 
  text-decoration: none; 
  color: black;
}

a:hover { 
  text-decoration: none; 

  color:yellow; }


.blogSubHeadings{
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;}

  .blogBody{
    margin-left: 20rem;
    margin-right: 20rem;
    line-height: 3rem;
  }

